<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>App develop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Orienta&family=Zen+Dots&display=swap"
        rel="stylesheet">
</head>

<body>

    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="./illustrations/s1/logo3.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/src/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">SERVICES</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Web Development</a>
                            <a class="dropdown-item" href="#">App Development</a>
                            <a class="dropdown-item" href="#">Digital Marketing</a>
                            <a class="dropdown-item" href="#">Networking</a>
                            <a class="dropdown-item" href="#">Cyber Security</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>


    <section id="banner">
        <div class="img-fluid"
            style="background-image: url(./illustrations/s1/App\ BG\ 1.png);background-size: cover;height: 800px; width:1350px ;background-position: center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="promo-title">
                            <span>App</span>lies on Ideas
                        </h1>
                        <p class="text-justify">Gypzeez provides mobile app development services.
                            This includes expert business analysis, design, and development of your mobile application
                            from idea to launch, integrating the new product into your infrastructure, and providing
                            further optimization and scale-up on demand. Our smartphone app development services include
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="./illustrations/s1/App 3D.png" height="450px" width="auto">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="service1">
        <div class="container">
            <h1 class="title text-center">Our Services</h1>
            <div class="card" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Android App Development</h4>
                            <p class="text-justify">Looking to build an Android app for your business? You don’t have to
                                spend time building your own Android developers team. Just save your time and let us
                                take
                                care of bringing your Android application idea to life. We will make sure to satisfy you
                                with our product and be with you at every single step of your Android app development
                                journey – from
                                clarifying your app idea, through launching it on the Play store, right up to its
                                maintenance.</p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Android app development-01.png" alt="Card image"
                                style="width:auto;height: 400px;margin-left: -150px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service2" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Ios app development.png" alt="Card image"
                                style="width:auto;height: 200px;margin-top: 20px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">IOS App Development</h4>
                            <p class="text-justify">IOS offers the space to work across three main devices-iPhone,
                                iPad, and Apple watches with a unique potential in each area. Our developers' team
                                has the ability to build fast and aesthetically-pleasing iOS apps with great User
                                Experience
                                using Flutter. Our iOS app developers will treat your product as their own, to produce a
                                good
                                quality app which would fulfill your expectations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service3" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">API Development</h4>
                            <p class="text-justify">Our developers focus on developing APIs that are reliable,
                                well-documented,
                                and easy to consume. APIs change the way data is used and open up strategies for
                                completely new
                                business models and products. They permit flexible integration and customization of
                                existing
                                products, enabling developers to enrich and enhance services in new and innovative ways.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Ui and Ux.png" alt="Card image"  style="width:auto;height: 200px;margin-top: 30px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service4" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Ui and Ux.png" alt="Card image"
                                style="width:auto;height: 200px;margin-top: 30px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">UI & UX Design</h4>
                            <p class="text-justify">You need to have well-designed and attractive User Interfaces to
                                catch your customer's attention and satisfying User Experience to keep them with you.
                                Here we are, ever ready to design some well- organized, attractive and responsive User
                                Interfaces with convincing User Experience for you, as per your request and according to
                                the current trend, using the modern tools and technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service5" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Create fully functional cross-platform applications for Android and
                                iOS.</h4>
                            <p class="text-justify">Development of Cross-platform applications has taken off in a big
                                way as it requires only a single code to be written, which can then be employed across
                                all platforms – Android or iOS. This results in reducing the cost & time needed for
                                development compared to the development of native applications where you would need to
                                write separate codes for each platform. We expect to provide you quality products with
                                minimal cost in less time.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Cross platform.png" alt="Card image"
                                style="width:auto;height: 200px;margin-left: -80px;margin-top: 100px;">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="service6" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/hero.png" alt="Card image"
                                style="width:100%;height: 300px;padding-top: 10px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">Convert your web application into Mobile Applications. </h4>
                            <p class="text-justify">We can convert your static or dynamic web applications into
                                cross-platform mobile applications for ease of use and a better user experience.
                                Moreover, your customers would be able to get push notifications, updates, and reminders
                                whenever needed.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="phone">
                            <i class="fa fa-envelope"></i>
                            <span class="text">abc@gmail.com</span>
                        </div>
                        <div class="email">
                            <i class="fa fa-phone-square"></i>
                            <span class="text">0771234567</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>

                <hr>
            </div>

            <div class="copyright text-center">
                <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
                &copy; Copyright <strong>Gypzeez</strong>. All Rights Reserved
            </div>

        </div>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 300,
                duration: 1000
            });
        </script>


</body>

</html>