<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Managed Security Services</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Orienta&family=Zen+Dots&display=swap"
        rel="stylesheet">
</head>

<body>

    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"><img src="./illustrations/s1/logo3.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/src/index.html">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                    role="button">SERVICES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Web Development</a>
                    <a class="dropdown-item" href="#">App Development</a>
                    <a class="dropdown-item" href="#">Digital Marketing</a>
                    <a class="dropdown-item" href="#">Networking</a>
                    <a class="dropdown-item" href="#">Cyber Security</a>
                </div>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>


    <section id="banner">
        <div class="img-fluid"
        style="background-image: url(./illustrations/s1/Cyber\ Security\ bg.png);background-size: cover;height: 800px; width:1350px ;background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="promo-title">
                        Managed Security Services
                    </h1>
                    <p class="text-justify">Gypzeez is Sri Lanka's first cybersecurity firm. That's just the start. In
                        the future,
                        in cybersecurity services, we will cover a lot of stuff.
                        Safety and security play a major role in balancing a business. We will protect the network
                        against
                        external and internal threats because we routinely conduct security assessments & penetration
                        assessments.
                        Our network scans & attacks using a variety of automation software and manual tests to identify
                        security troubles.
                        We can quickly restore & remediate any kind of cyber threat, preventing the destruction of
                        sensitive business and client data and data.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./illustrations/s1/Cyber 3d.png">
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="develop">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1 class="title text-center">Penetration Testing</h1>
                    <p class="text-justify text-center">The art of manipulating networks, web apps, or people's flaws and
                        vulnerabilities. This is different from simply scanning the network with a weakness. A
                        penetration test takes the view of an external attacker or a hostile inner individual.
                        Technology cannot necessarily be involved, but technological safeguards are a major part of
                        avoiding simple use and data compromising.
                        Even with the best safety and security possible, the organization has flaws that open up to
                        unforeseen threats. Such deficits can be as uncertain as a directory, an application, and
                        website access — including your own staff. In each of these access points, sensitive electronic
                        records, like accounting, patient information, strategic or classified materials, may go
                        straight.
                        Hold out an extensive evaluation of possible vulnerabilities by our Gypzeez’s team of seasoned
                        and responsible hackers, prioritize and advise about how to stop threats until they damage the
                        bottom line.

                    </p>
                    <section id="dev">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h3 class="text-center">External Network Penetration Testing</h3>
                                    <img src="./illustrations/s1/Vip security consultancy.png" alt="">
                                    <button class="popup-btn" onclick="">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="popup-view">
                            <div class="popup-card">
                                <a><i class="fa fa-times close-btn"></i></a>
                                <img src="./illustrations/s1/Vip security consultancy.png" alt="">
                                <div class="info">
                                    <p>We identifying potential avenues for networking attacks in which people without
                                        their organization who have no acceptable rights or credentials can gain access
                                        through internet-connected servers or network equipment. We then carry out a
                                        funny attack to test security measures, create a cybersecurity review, and
                                        provide you with ideas and advice you can use to remedy the issue.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                   
                                    <h3 class="text-center">Internal Network Penetration Testing</h3>
                                    <img src="./illustrations/s1/Vip security consultancy.png" alt="">
                                    <button class="popup-btn">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="popup-view">
                            <div class="popup-card">
                                <a><i class="fa fa-times close-btn"></i></a>
                                <img src="./illustrations/s1/Vip security consultancy.png" alt="">
                                <div class="info">
                                    <p>We assist businesses in managing challenges from their business network through
                                        internal attacks. While external research explores approaches remote hackers may
                                        use to access a Network, internal testing looks into how staff or insiders might
                                        contribute to an infringement through neglecting an application, through
                                        malicious or accidentally downloading it such as ranch software or malware.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h3 class="text-center">Application Penetration Testing</h3>
                                    <img class="bk3" src="./illustrations/s1/Vip security consultancy.png" alt="">
                                    <button class="popup-btn b1">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="popup-view">
                            <div class="popup-card">
                                <a><i class="fa fa-times close-btn"></i></a>
                                <img src="./illustrations/s1/Vip security consultancy.png" alt="">
                                <div class="info">
                                    <p>The many Internet-based apps used by your company examine possible risks and
                                        vulnerabilities. Web apps provide major entry points for the credit card,
                                        consumer, and financial info, conveniently accessible from everywhere in the
                                        world, just as easily abused. Vulnerability testing providers investigate and
                                        suggest the protection of these solutions and controls and techniques to
                                        restrict access to any data which could be contained within them.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
        </div>
    </section>


    <section id="service1" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Network Security</h4>
                            <p class="text-justify">Network security is one of the future potential offerings of our
                                service.
                                Network monitoring services also intersect with the threats and risk management to
                                identify vulnerabilities
                                and track potential hazards across the network and associated devices of the customer
                                <span id="dots">...</span>
                                <span id="more">
                                These programs work together to ensure
                                that businesses are aware of risks and protected from incidents and able to respond to
                                incident circumstances.
                                In addition, they provide protection and other data security services. Companies can
                                install security software of the network
                                and other IT security tools to optimize protection efforts in place or in addition to
                                network security services.</span>
                            </p>
                            <button onclick="myFunction()" id="myBtn">Read more</button>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Data protection.png" alt="Card image"
                                style="width:100%" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service3" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Data protection.png" alt="Card image">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">VIP Security Consultancy</h4>
                            <p class="text-justify">Our Personal Cyber Security service is open to any person interested
                                in protecting their identity, reputation, brand, and personal information. It aims at
                                high net people, business executives, actors, politicians, the public, and everyone who
                                wants full safety cover.
                                Unfortunately, everybody is vulnerable to cyber-attacks; the chances are much higher if
                                you're a high-profile individual. Right now you may be an aggressive and constant victim
                                of attackers
                                <span id="dots1">...</span>
                                <span id="more1"> 
                                They could be rivals, ex-parties, supporters, stalkers, private
                                detectives, cyber thieves, spies, national states, international nations, hijackers, law
                                enforcement agents, opportunists and etc.
                                We review in depth the emerging digital risks and vulnerabilities according to your
                                individual needs. This covers any parts of your digital footprint including smartphones,
                                smartphones, computers, social media, banking, the Internet, e-mail, text messages,
                                photos, records, homes, companies, etc.
                                Then we have quick and fast solutions to avoid any digital footprint compromise such
                                that even a highly competent and resourceful competitor is deterred.
                                Then we keep your safety secure for continued active security and track it.
                            </span>
                            </p>
                            <button onclick="myFunction1()" id="myBtn1">Read more</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="service5" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8"> 
                            <h4 class="card-title">Cyber Security Audits</h4>
                            <p class="text-justify">A thorough assessment of your IT systems will be conducted by a
                                cybersecurity audit. It detects risks and flaws as well as high-risk behaviors and
                                deficiencies. The audit itself consists of a different review and a risk evaluation in
                                the two separate stages. Vulnerability Assessment helps deter network threats by
                                detecting the bugs and setup problems hackers use to infiltrate your network
                                <span id="dots2">...</span>
                                <span id="more2">
                                Cybersecurity audits are a very helpful method for businesses who have not reported
                                their internal and external hazards, vulnerabilities, and vulnerability to attacks.
                                Often applicable to enterprises that have increased the amount of data being exchanged
                                in everyday correspondence, incorporating different applications and security measures.
                                Our cybersecurity specialists will help you strengthen your cyber resilience, secure
                                your data and protect your company greatly.
                                </span>
                            </p>
                            <button onclick="myFunction2()" id="myBtn2">Read more</button>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Data protection.png" alt="Card image"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="phone">
                            <i class="fa fa-envelope"></i>
                            <span class="text">abc@gmail.com</span>
                        </div>
                        <div class="email">
                            <i class="fa fa-phone-square"></i>
                            <span class="text">0771234567</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>

                <hr>
            </div>

            <div class="copyright text-center">
                <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
                &copy; Copyright <strong>Gypzeez</strong>. All Rights Reserved
            </div>

        </div>
    </section>

    <script type="text/javascript" src="script1.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>
</body>

</html>