<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Web develop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Orienta&family=Zen+Dots&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"><img src="./illustrations/s1/logo3.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/src/index.html">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                    role="button">SERVICES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Web Development</a>
                    <a class="dropdown-item" href="#">App Development</a>
                    <a class="dropdown-item" href="#">Digital Marketing</a>
                    <a class="dropdown-item" href="#">Networking</a>
                    <a class="dropdown-item" href="#">Cyber Security</a>
                </div>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>


    <section id="banner">
        <div class="img-fluid"
        style="background-image: url(./illustrations/s1/Web\ Bg.png);background-size: cover;height: 780px; width:1350px ;background-position: center;">
       
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="promo-title">
                        Web Development
                    </h1>
                    <p class="text-justify">To complete anything thoroughly,
                        we have to work top to toe. As this common rule,
                        we do our website development individually and completely.
                        We do user interface (UI), front end-end development,
                        and a unique way, and we create server functions (API Development).
                        We can do those separately and in a full-stack manner.
                        We often do QA testing and professional maintenance</p>
                </div>
                <div class="col-md-6">
                    <img src="./illustrations/s1/Web land 3D.png">
                </div>
            </div>
        </div>
    </div>
    </section>


    <section id="service1">
        <div class="container">
            <h1 class="title text-center">Our Services</h1>
            <div class="card" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">User-Friendly UI </h4>
                            <p class="text-justify">Eye-catching and intuitive designs that ensure high user
                                satisfaction Our UX
                                experts design and make digital experiences that are purposeful and enjoyable for front
                                end-users and our clients. Users are our priority, and our goal is a client's maximum
                                satisfaction, making us a top UX agency able to deliver.</p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/Web Ui and Ux.png" alt="Card image"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service2" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/fullstack-01.png" alt="Card image"
                                style="width:100%">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">Front & Back end</h4>
                            <p class="text-justify">The way we distribute business logic between a front- and back-end
                                is
                                individual for each web app. This versatile approach demands efficient and thorough
                                architectural planning, which ultimately helps achieve the desired balance in
                                interactive
                                efficiency and stability. We offer both front-end and back-end development services. Our
                                web
                                development team specializes in HTML, CSS, JavaScript, React, Firebase, PHP, SQL.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service3" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">API Development</h4>
                            <p class="text-justify">Our developers focus on developing APIs that are reliable,
                                well-documented,
                                and easy to consume. APIs change the way data is used and open up strategies for
                                completely new
                                business models and products. They permit flexible integration and customization of
                                existing
                                products, enabling developers to enrich and enhance services in new and innovative ways.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/API-01.png" alt="Card image"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service4" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/fullstack-01.png" alt="Card image"
                                style="width:100%;height: 200px;margin-top: 30px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">Full Stack Development</h4>
                            <p class="text-justify">Gypzeez is a web development company specializing in a wide variety
                                of
                                technologies, from front-end prototyping to a complete suite of back-end services. Every
                                company
                                wants to accelerate its growth, and with our full-stack development services, you'll be
                                able to
                                do just that. Our full-stack developers have the knowledge and expertise needed to build
                                full-fledged applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service5" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Redesign</h4>
                            <p class="text-justify">Some website features become obsolete over time. This encompasses
                                everything
                                from the visible architecture to the code's secret features. You'll be able to boost the
                                functionality and user experience of your website when we redesign it. With a good
                                website
                                redesign, you can see an improvement in dwell time, traffic, leads, and conversions.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/bachendfr-01.png" alt="Card image"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="service6" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/svvg3.svg" alt="Card image"
                                style="width:100%;height: 300px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">Web application development and integration </h4>
                            <p class="text-justify">Web applications have become an integral part of today's market
                                landscape.
                                Businesses can now expand, simplify, and achieve their objectives much more quickly by
                                using it.
                                Without a suitable web application, businesses would not be able to expand their market
                                share.
                                Investing in custom web app creation allows businesses to reach out to potential
                                clients. Web
                                applications are more like well-thought-out business plans. You are merely taking a step
                                toward
                                achieving your business goals with online transactions over safe networks, intelligent
                                assistance in choosing products/services, and so on. Investing in the right places, such
                                as
                                designing custom web apps and web-based software, will help the company prosper and
                                advance
                                professionally.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="service7" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Migration to the cloud</h4>
                            <p class="text-justify">We make it simple to turn your company. We assist you in migrating
                                your
                                workloads and transferring your current website and applications to Amazon Web Services
                                (AWS),
                                Microsoft Azure, Google Cloud Platform, and other cloud services to increase scalability
                                and
                                administration while lowering costs.</p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/web4.svg" alt="Card image"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service8" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="./illustrations/s1/svvg4.svg" alt="Card image"
                                style="width:100%;height: 300px;">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">Maintenance and support</h4>
                            <p class="text-justify">Gypzeez is the best website maintenance services company, helping
                                companies
                                all over the world boost their website's efficiency and security. Gypzeez has the
                                experience and
                                skills your business needs, whether you're looking for a monthly or hourly website
                                maintenance
                                schedule. We plan to add new features, fix bugs, improve scalability and performance to
                                welcome
                                the growing number of visitors and data, and Improve the website structure to better
                                address
                                user demand.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service9" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Mobile-driven development</h4>
                                <p class="text-justify">Adapting your website for all devices and screen sizes of cell
                                    phones and
                                    tablets and using the portal as the back-end for a mobile app.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="card-img-top" src="./illustrations/s1/svvg2.svg" alt="Card image"
                                    style="width:100%;height: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="phone">
                            <i class="fa fa-envelope"></i>
                            <span class="text">abc@gmail.com</span>
                        </div>
                        <div class="email">
                            <i class="fa fa-phone-square"></i>
                            <span class="text">0771234567</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>

                <hr>
            </div>

            <div class="copyright text-center">
                <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
                &copy; Copyright <strong>Gypzeez</strong>. All Rights Reserved
            </div>

        </div>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1000
        });
    </script>
</body>

</html>